.nav li { float: left; display: inline; border-right: 1px solid #bbb;}
li :last-child { border-right: none;}
li a{ display: block; color: skyblue ; text-align: center; 
  padding: 15px 15px; text-decoration: none; }
  ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; 
    background-color:#333 ; position:fixed; top:0 ; width: 100%}
li { text-align: center;}
li a:hover:not(.active) {background-color: #111 ;
}
.active { background-color: #ff1493 ;}
header1 { text-align: center;}
*{ margin: 0; padding: 0;}
body{ background-color: #152238;
}


header1 { text-align: center;}
*{ margin: 0; padding: 0;}
body{ background-color: #152238;
}

main{ margin-top: 150px; display: grid; margin-right :150px ;
    margin-left:300px ;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(110px, auto);
    justify-content: center;
    grid-template-areas: "a a b"
                         "c d d"
                         "c e e";
                         width: 45%;}

main div{ padding: 2em; text-align: center;}

.item-a {  display: grid;
    background-color: orangered ; grid-area: a;  color: orangered;
   
}
.item-b { display: grid; background-color:  orange;  grid-area: b; color: orange;
}
.item-c { display: grid; background-color:  green; grid-area: c;  color:green;

}
.item-d {  display: grid; background-color: dodgerblue; grid-area: d;  color: dodgerblue;
}
.item-e { display: grid; background-color:
     dodgerblue ; grid-area: e; color: dodgerblue;}


